@charset 'utf-8';

@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #fff, #fff, #dde7ea);
}

h1 {
  text-align: center;
}

.table-content {
  display: flex;
  flex-direction: column;
}

.search-cep {
  margin-top: 45px;
}